.input-wrapper {
    --padding: 9px;
    --focus-color: black;
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px;

}

input {
    padding: var(--padding);
    border: 1px solid gray;
    outline: none;
    border-radius: 6px;
    /* padding: 10px; */

}

.placeholder {
    position: absolute;
    background-color: white;
    color: gray;
    left: var(--padding);
    padding: 2px;
    transition: all 0.2s ease-in;
    margin: 10px
        /* width: 45%; */
}

input:is(:focus, :valid) {
    border: 2px solid var(--focus-color);
}

input:is(:focus, :valid)+.placeholder{
    transform: translatey(calc(-1 * var(--padding) - 12px));
    font-size: 14px;
    color: var(--focus-color);
}
/* label:is(:focus, :valid)+.placeholder{
    transform: translatey(calc(-1 * var(--padding) - 12px));
    font-size: 14px;
    color: var(--focus-color);
} */



input[type=date]:required:invalid::-webkit-datetime-edit {
    color: transparent;
}

input[type=date]:focus::-webkit-datetime-edit {
    color: black !important;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 0.25cm;
}

.box {
    width: 780px;
    height: 690px;
    border: 2px solid black;
    margin: 0 5px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #f1f1f1;
}

.box1 {
    width: 1016px;
    height: 820px;
    border: 2px solid black;
    margin: 0 5px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #f1f1f1;
}

h3 {
    text-align: center;

    color: #333;
}
.form input[type="text"],
        .form input[type="email"],
        .form input[type="tel"],
        .form input[type="date"],
        .form select {
            height: 25px;
            width: 100%;
            padding: 10px, 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
            font-size: 14px;
        }

        select {

            height: 25px;
            line-height: 50px;
        }

        .form button {
            padding: 10px 10px;
            border-radius: 5px;
            border: none;
            color: #fff;
            background-color: #333;
            cursor: pointer;
            font-size: 10px;
        }